html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee;
}

input {
	border: none;
}

input:focus {
	outline: none;
}

input[type='text'],
input[type='email'],
input[type='password'] {
	width: 200px;
	height: 40px;
	padding: 0 16px;
	border-radius: 14px;
}

input[type='submit'],
button {
	display: block;
	min-width: 200px;
	height: 40px;
	padding: 0 16px;
	border: none;
	border-radius: 20px;
	background-color: #373a40;
	color: #eeeeee;
}
